.button {
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 3;
    background: transparent;
    color: #696969;
    font-size: 14px;
    border-color: #696969;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
      }
.button:hover{
    animation: buzz .7s linear infinite;
    -moz-animation: buzz .7s linear infinite;
    -webkit-animation: buzz .3s linear infinite;
    -o-animation: buzz .2s linear infinite;
}

@keyframes buzz {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }