
.first {
    text-align: center;
    vertical-align: middle;
    margin-top: 13%;
    margin-right: 30%;
  }

.last {
    text-align: center;
    vertical-align: middle;
    margin-left: 15%;
  }

.Aidan {
    font-family: 'Megrim', cursive;
    color: #426DFB;
    font-size: 8vw;
    line-height: 8vw;
    
  }
  
  .Vandiver {
    font-family: 'Megrim', cursive;
    color: #426DFB;
    font-size: 8vw;
    line-height: 8vw;
    
  }
  
  .Aidan {
    animation: buzz .7s linear infinite;
    -moz-animation: buzz .7s linear infinite;
    -webkit-animation: buzz .2s linear infinite;
    -o-animation: buzz .2s linear infinite;
  }
  .Vandiver {
    animation: buzz .7s linear infinite;
    -moz-animation: buzz .7s linear infinite;
    -webkit-animation: buzz .5s linear infinite;
    -o-animation: buzz .2s linear infinite;
  }
  
  @keyframes buzz {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
  